/*
  Made by antipersona
  from Onepunch theme by okarin001 https://github.com/okarin001/Onepunch
  I hope he dosen't mind (:
*/

/* NOTES:
   I use my own color nomenclatures since i find confuisng the ones used by spicetify,
   i might try to change them in the future.
  text               = lighter accent color
  subtext            = light accent color
  extratext          = most vibrant text color == accent
  main               = background color
  sidebar            = idk
  player             = idk
  sec-player         = idk
  card               = background color 
  sec-card           = accent
  shadow             = idk
  selected-row       = accent
  button             = accent
  button-active      = accent
  button-disabled    = accent-dark
  tab-active         = accent
  notification       = accent
  notification-error = idk
  misc               = idk
  ;my custom colors
  accent             = a287be
  accent-light       = d7c9e2
  accent-dark        = 6b5377
  background         = 000000
*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


* {
  font-family: 'Manrope', sans-serif !important;
}

/* Left Bar */
/* Home, Search, Your Library,... */

/* inactive tabs */
.main-navBar-navBarLink {
  color: var(--spice-accent) !important;
}

/* inactive tabs hover */
.main-navBar-navBarLink:hover {
  color: var(--spice-accent-light) !important;
}

/* active tab */
.main-navBar-navBarLinkActive,
.main-navBar-navBarLinkActive:focus,
.logo {
  background-color: var(--spice-accent) !important;
  border-radius: 25px !important;
  color: var(--spice-background) !important;
}

/* active tab hover */
.main-navBar-navBarLinkActive:hover,
.logo:hover {
  background-color: var(--spice-accent-light) !important;
  border-radius: 25px !important;
  color: var(--spice-background) !important;
}

/* create playlist, liked songs icons */
.main-likedSongsButton-likedSongsIcon,
.main-createPlaylistButton-createPlaylistIcon,
.main-yourEpisodesButton-yourEpisodesIcon {
  background: var(--spice-accent) !important;
  border-radius: unset !important;
}

/* TODO quitar a sombra extraña de los iconos y el texto este */
/* create playlist and liked songs text */
.main-createPlaylistButton-button,
.main-collectionLinkButton-collectionLinkButton,
.main-collectionLinkButton-collectionLinkText {
  color: var(--spice-accent) !important;
}

/* playlist list */
.main-rootlist-rootlistItemLink,
.main-rootlist-rootlistItemLink:visited {
  color: var(--spice-subtext) !important;
}

/* selected playlist */
.main-rootlist-rootlistItemLink:hover,
.main-rootlist-textWrapper:hover {
  color: var(--spice-extratext) !important;
}

/* selected playlist */
.main-rootlist-rootlistItemLinkActive,
.main-rootlist-rootlistItemLinkActive:hover {
  color: var(--spice-accent) !important;
  font-weight: 600 !important;
}

/* queue and recently  played buttons at the queue view */
.queue-tabBar-active {
  background-color: var(--spice-card) !important;
  color: var(--spice-accent) !important;
}

.queue-tabBar-headerItemLink {
  color: var(--spice-accent) !important;
}

/* play button in main page -- idk */
.main-playButton-PlayButton.main-playButton-primary {
  color: var(--spice-background) !important;
  background-color: var(--spice-button) !important;
}

/* idk */
.connect-title,
.connect-header {
  display: none;
}

/* idk */
/* Topbar visibility bug */
.main-topBar-topbarContent:not(.main-topBar-topbarContentFadeIn)>* {
  opacity: unset !important;
}

/* idk */
.main-entityHeader-topbarContent:not(.main-entityHeader-topbarContentFadeIn)>* {
  opacity: 0 !important;
}

/* Remove Topbar background colour */
.main-topBar-background {
  background-color: unset !important;
}

.main-topBar-overlay,
.x-441-actionBarBackground-background {
  background-color: var(--spice-background) !important;
}

/* idk */
.main-entityHeader-shadow {
  box-shadow: 0 0 4px 0 rgba(var(--spice-rgb-shadow), 0.5);
}

/* playing icon gif */
.main-trackList-playingIcon {
  filter: hue-rotate(128deg) brightness(75%) saturate(29%);
}

/* idk */
span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
  fill: black;
}

/* playing song */
.main-entityTitle-subtitle.main-entityTitle-gray,
.main-entityHeader-metaDataText {
  color: var(--spice-text) !important;

}

/* duration ? */
.main-duration-container {
  color: var(--spice-extratext) !important;
}

/* artist page*/

.artist-artistOverview-artistOverviewContent {
  box-shadow: 0 -2px 5px 0 rgba(var(--spice-rgb-shadow), 0.7);
}

.main-entityHeader-background.main-entityHeader-gradient {
  opacity: 0.4;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--spice-background), var(--spice-background));
}

.artist-artistPick-pickComment {
  background: var(--spice-background) !important;
  border-radius: 25px !important;
  border-bottom: solid 2px var(--spice-background) !important;
  color: var(--spice-text) !important;
}

.artist-artistSavedTracks-imageContainer .artist-artistSavedTracks-heartIcon {
  color: var(--spice-card);
}

/* home screen big text: Good evening, recently played, etc */
.view-homeShortcutsGrid-name,
/* idk */
.main-shelf-title {
  color: var(--spice-extratext);
}

.view-homeShortcutsGrid-shortcut,
.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-imageWrapper,
.main-cardImage-imageWrapper,
.main-cardImage-imagePlaceholder,
.main-cardImage-image {
  border-radius: 10px !important;
}

.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-image {
  border-radius: 10px 0 0 10px !important;
}

.main-cardImage-circular,
.main-entityHeader-circle {
  border-radius: 50% !important;
}

.main-entityHeader-image {
  border-radius: 10px;
}

/* inside a page edits */
.main-addButton-button {
  color: var(--spice-accent) !important;
}

/* active song */
.main-trackList-trackListRow.main-trackList-active .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active .main-trackList-rowTitle {
  color: var(--spice-extratext) !important;
}

/* rest of songs */
.main-trackList-rowTitle {
  color: var(--spice-subtext) !important;
}

/* friend activity */
.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContext a,
.main-buddyFeed-activityMetadata .main-buddyFeed-usernameAndTimestamp a {
  color: var(--spice-subtext) !important;
}

.main-buddyFeed-activityMetadata .main-buddyFeed-username a {
  color: var(--spice-extratext) !important;
}

.main-avatar-avatar.main-avatar-withBadge:after {
  background: var(--spice-extratext);
}

/* setting page */

.x-settings-container {
  margin: 16px 180px !important;
}

.x-settings-title {
  color: var(--spice-subtext) !important;
}

.main-dropDown-dropDown {
  border: 0;
  border-radius: 10px;
}

.main-dropDown-dropDown {
  background-color: var(--spice-button-disabled) !important;
  color: var(--spice-text) !important;
}

.x-toggle-indicator {
  background: var(--spice-button) !important;
  box-shadow: 0 2px 4px 0 rgba(var(--spice-rgb-shadow), 0.5);
}

input:checked~.x-toggle-indicatorWrapper .x-toggle-indicator {
  background-color: var(--spice-button) !important;
  box-shadow: 0 2px 4px 0 rgba(var(--spice-rgb-shadow), 0.5);
}

input:hover:not([disabled]):not(:active)~.x-toggle-indicatorWrapper {
  background-color: rgba(var(--spice-rgb-button-disabled), 0.7) !important;
}

input:checked~.x-toggle-indicatorWrapper {
  background-color: rgba(var(--spice-rgb-button), 0.6) !important;
}

input:checked:hover:not([disabled]):not(:active)~.x-toggle-indicatorWrapper {
  background-color: rgba(var(--spice-rgb-button), 0.4) !important;
}


/* queue, album, recent, playlist, page edits */
.queue-queue-container,
.queue-playHistory-container {
  margin: 40px 60px !important;
}

.main-actionBar-ActionBar,
.x-actionBar-ActionBar {
  margin: 0 40px !important;
}

/* podcast edits */
.x-hTMLDescription-HTMLDescription,
.x-expandableDescription-paragraph {
  color: var(--spice-text) !important;
}

.x-seeMore-button,
.x-expandableDescription-button {
  color: var(--spice-button) !important;
}

.main-type-minuetBold {
  color: var(--spice-extratext) !important;
}

.main-entityTitle-subtitle,
.main-entityTitle-subtitle.main-entityTitle-large,
.main-entityTitle-subtitle.main-entityTitle-bold {
  color: var(--spice-subtext) !important;
}



/* SEARCH PAGE */

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
  color: var(--spice-accent) !important;
}

.x-searchInput-searchInputInput {
  color: var(--spice-accent) !important;
  font-size: 1rem;
  font-weight: 600;
}

input {
  background-color: unset !important;
  /* border-radius: 0 !important; */
  color: var(--spice-accent) !important;
}

/* User widget */
.main-userWidget-box {
  background-color: var(--spice-main) !important;
  border: unset !important;
  color: var(--spice-accent) !important;
}


/* CARD PAGE */

.main-card-card a,
.main-card-card button {
  color: var(--spice-extratext);
}

.main-card-card:hover,
.main-card-card[data-context-menu-open="true"] {
  background-color: rgba(var(--spice-rgb-sec-card), 0.3) !important;
}

.main-contextMenu-menu,
.main-card-card:focus-within,
.main-deletePlaylistDialog-container,
.main-aboutRecsModal-container {
  background-color: var(--spice-card) !important;
}

.main-deletePlaylistDialog-secondaryButton {
  color: var(--spice-text) !important;
}

.main-button-primary {
  background-color: var(--spice-sec-card) !important;
  color: var(--spice-card) !important;
}

.main-deletePlaylistDialog-title {
  color: var(--spice-subtext) !important;
}

.main-keyboardShortcutsHelpModal-container,
.main-trackCreditsModal-container {
  background-color: var(--spice-card) !important;
  color: var(--spice-text) !important;
}

.main-keyboardShortcutsHelpModal-header,
.main-trackCreditsModal-header {
  color: var(--spice-subtext) !important;
}

.main-type-canon {
  color: var(--spice-extratext) !important;
}


/* NOW PLAYING */

.main-connectBar-connectBar.main-connectBar-FullscreenModeButtonEnabled.main-type-mesto {
  color: var(--spice-background) !important;
}

.progress-bar {
  --progress-bar-height: 5px !important;
  --fg-color: var(--spice-accent) !important;
}

/* shuffle and repeat buttons */
.main-shuffleButton-button,
.main-repeatButton-button {
  color: var(--spice-accent-dark) !important;
}

/* dosent work in my linux laptop */
.main-shuffleButton-active,
.main-repeatButton-active {
  color: var(--spice-accent) !important;
}

.main-shuffleButton-button:hover,
.main-repeatButton-button:hover {
  color: var(--spice-accent-light) !important;
}

/* next and back buttons */
.main-skipBackButton-button,
.main-skipForwardButton-button {
  color: var(--spice-accent);
}

.main-playPauseButton-button {
  background-color: var(--spice-accent) !important;
}

.main-playPauseButton-button:hover {
  background-color: var(--spice-accent-light) !important;
}

/* adds margings to the album image when its big */
.cover-art--with-auto-height {
  border: solid var(--spice-background) 5px !important;
}

/***** EXTRA STUFF *****/

/* browse all in search page titles (made for you, charts, etc)
.x-categoryCard-title {
  color: var(--spice-misc) !important;
}
*/

/* menu and dropdown menus including the user menu 
.main-type-mesto,
.x-dropDown-dropDown {
  color: var(--spice-misc) !important;
}
*/

/* header colored backgrounds -- idk 
.main-home-homeHeader,
.x-441-entityHeader-overlay,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor,
.x-914-entityHeader-overlay,
.x-entityHeader-overlay,
.x-914-actionBarBackground-background,
.x-actionBarBackground-background {
 background-color: var(--spice-misc) !important;
  background-image: var(--spice-misc) !important;
}

*/


/* SNIPPETS */
/* hide upgrade button */
.main-topBar-UpgradeButton {
  display: none !important;
}

/* fix liked songs button */
.main-likedSongsButton-likedSongsIcon {
  color: var(--spice-sidebar);
  background: var(--spice-text);
}

/* fix progress bar displacement */
.main-connectBar-connectBar {
  overflow: visible !important;
  position: absolute !important;
  display: flex !important;
  align-items: unset !important;
  left: 80% !important;
  height: 20px !important;
  bottom: 1% !important;
  padding: 2px !important;
  background-color: transparent !important;
  color: var(--spice-text) !important;
}

.control-button::after {
  display: none !important;
}

/* remove top gradient */
.main-entityHeader-backgroundColor {
  display: none !important;
}

.main-actionBarBackground-background {
  display: none !important;
}

.main-home-homeHeader {
  display: none !important;
}

/* fix liked button */
#_R_G *:not([fill="none"]) {
  fill: var(--spice-button) !important;
}

#_R_G *:not([stroke="none"]) {
  stroke: var(--spice-button);
}

.main-addButton-button[aria-checked="false"] {
  color: rgba(var(--spice-rgb-selected-row), 0.7);
}

.control-button-heart[aria-checked="true"],
.main-addButton-button,
.main-addButton-active:focus,
.main-addButton-active:hover {
  color: var(--spice-button);
}