@import "ANTIPC.rasi"

window {
    location:   south east;
    width:      500;
}

entry {
    placeholder:        "";
}

element {
    padding:        6px 0px;
    spacing:        0px;
    border-radius:  32px;
}